body{
    background-color: #000;
}

main{
    box-sizing: border-box;
    text-align: center;
    background-color: #000;
    color: #faf4f4;
    padding: 20px;
}

img{
    border-radius: 50%;
    width: 250px;
    height: 300px;
}

p{
    padding: 0 200px;
}

.grid-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
   background-color: #ded7d7; 
   width: 200px;
   height: 35px;
   border-radius: 10px;
   margin: 10px;
   padding-top: 20px;
   color: #000;
}